<ion-view view-title="{{about.title}}">
  <ion-content class="padding">
    <div class="card">
      <img class="he" src="{{about.picUrl}}">
	  <div class="item item-text-wrap">
		<h3 class="positive">{{about.introA}}</h3>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;{{about.contentA}}</p>	  
	  </div>
	</div>
	<div class="card">
	  <div class="item item-text-wrap">
		<h3  class="positive">{{about.introB}}</h3>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;{{about.contentB}}</p>	  
	  </div>
	</div>
	<div class="card">
	  <div class="item item-text-wrap">
		<h3  class="positive">{{about.introC}}</h3>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;{{about.contentC}}</p>	  
	  </div>
	</div>
  </ion-content>
</ion-view>

