/*#map{
	width: 100%;
	height: 100%;
}*/
map {
  display: block;
  width: 100%;
  height: 100%;
}
div .box{
	width: 100%;
	height: 100px;
}
div .box img{
	width: 100%;
	/*height: 100%;*/
}
#search{
	display: block;
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 64px;
}
.arcgisSearch .searchIcon {
      color:rgb(56,126,245);
}
.act{
	background-color: black;
	opacity: .5;
	padding: 6px;
	position: relative;
	top: -164px;
	text-indent: 0.5em;
	color: #f6f6f6;
	font-size: 15px;
}
.detailText{
	text-indent: 2em;
}
.list .item .book{
	width: 60px;
}
.list .item h3{
	position: relative;
	left: -20px;
	top: 8px;
}
.list .item h4{
	color: grey;
	position: relative;
	left: -20px;
	top: 20px;
}
.left{
	float: left;
}
.moveUp{
	margin-top: 0;
	
}
.center{
	text-align: center;
}
.right{
	float: right;
}
.scroll {
  height: 100%;
}
.selectColor{
	background-color: #f6f6f6;

}
.list .item .selectColor{
	background-color: #f6f6f6;
}
.size{
	height: 128px;
}
.size img{
	/*height: 158px;*/
}